<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a454203.aone_sample">

    <uses-feature android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- android:required="true" /> -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".ProvideInformationActivity" />
        <activity android:name=".FragmentActivity" />
        <activity
            android:name=".SwipeNavigationMainActivity"
            android:label="@string/title_activity_swipe_navigation_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SwipeNav2"
            android:label="@string/title_activity_swipe_nav2"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="com.example.coursebrowse.action.BROWSE_COURSE" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SwipeCourseActionsActivityClass"
            android:label="@string/title_actions_activity_swipe_nav2"
            android:parentActivityName=".SwipeNav2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a454203.aone_sample.SwipeNav2" />
        </activity>
        <activity android:name=".NavigationDrawerSoleActivity" />
        <activity
            android:name=".ImplicitIntentsActivity"
            android:label="@string/title_activity_implicit_intents" />
        <activity
            android:name=".AppModelBasic"
            android:label="@string/title_activity_app_model_basic" />
        <activity
            android:name=".AppModelBasicOther"
            android:label="@string/title_activity_app_model_basic_other" />
        <activity
            android:name=".AppThreadingMechanism"
            android:label="@string/title_activity_app_threading_mechanism"></activity>
    </application>

</manifest>